
<div>

  <p>
    <mat-toolbar>
      <span [routerLink]="['/']" routerLinkActive="selected" id="spanPrincipal">Sistema Acadêmico</span>

      <span>
        <button mat-button color="primary" [matMenuTriggerFor]="appMenu">Cursos</button>

        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="subMenu">Consultar</button>
          <button mat-menu-item [matMenuTriggerFor]="subMenuCat">Categorias</button>
        </mat-menu>

        <mat-menu #subMenu="matMenu">
          <a mat-menu-item [routerLink]="['/cursos']" routerLinkActive="selected" >Exibir Cursos</a>
          <a mat-menu-item>Editar</a>
          <a mat-menu-item>Adicionar</a>
        </mat-menu>

        <mat-menu #subMenuCat="matMenu">
          <button mat-menu-item>Exibir Categorias</button>
          <button mat-menu-item>Editar</button>
          <button mat-menu-item>Adicionar</button>
        </mat-menu>
      </span>

      <span>
        <button mat-raised-button [mat-menu-trigger-for]="lazyMenu">Mais Opções</button>

        <mat-menu #lazyMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item>Alunos</button>
            <button mat-menu-item>Matriculas</button>
          </ng-template>
        </mat-menu>
      </span>
    </mat-toolbar>
  </p>

</div>

